body {
    background-color: black;
    width: 95%;
    margin: auto;
}

.header {
    background: url('素材/starfield-banner.jpg ');
    position: fixed;
    width: 95%;
}

.header .logo-link {
    padding: 10px;
}

.header .logo {
    width:110px;
    margin:11px;
}